
<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/nhab/nhab/assets/css/blocks.css'>
    <script src='https://cdn.jsdelivr.net/gh/nhab/nhab/assets/js/blocks.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js'></script>
    <script src='https://code.jquery.com/jquery-3.6.3.min.js'></script>
</head>
<body onload='AddToggleButtons();ReplaceLtGt();hljs.highlightAll();'>
    <button onclick='toggleAll(this);'>-</button>

<h1>Vue js</h1>

<h2>Helllo Vue Example:</h2>
<pre><code  class = 'hljs-javascript'>
    <script src="https://unpkg.com/vue@3">< /script>

    <div id="app">{{ message }}</div>

    <script>
    const { createApp } = Vue

    createApp({
        data() {
        return {
            message: 'Hello Vue!'
        }
        }
    }).mount('#app')
    </script>
</code></pre>

The script section of the code can be written in ES6 modules syntax:
<pre><code>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
      </script>
</code></pe>

<h2>Binding</h2>
<pre><code>
 < div id="app">
    {{ message }}
    < /div>
    
    < script>
    var myObject = new Vue({
        el: '#app',
        data: {message: 'Hello Vue!'}
    })
    
    function myFunction() {
        myObject.message = "John Doe";
    }
    < /script>
</code></pre>

<h2>Two-Way Binding</h2>

<pre><code>
    
<div id="app">
    <p>{{ message }}</p>
    <p><input v-model="message"></p>
  </div>
  
  <script>
  var myObject = new Vue({
      el: '#app',
      data: {message: 'Hello Vue!'}
  })
  </script>
  
</code></pre>

<h2>Loop Binding</h2>
<div>
Using the v-for directive to bind an array of Vue objects to an "array" of HTML element:
<pre><code>
<div id="app">
    <ul>
      <li v-for="x in todos">
      {{ x.text }}
      </li>
     </ul>
   </div>
   
   <script>
   myObject = new Vue({
       el: '#app',
       data: {
       todos: [
           { text: 'Learn JavaScript' },
           { text: 'Learn Vue.js' },
           { text: 'Build Something Awesome' }
           ]
       }
   })
   </script>
</code></pre>
</div>
</body>
</html>

</body>
